# Eclipse
.project
.pydevproject

# Sphinx documentation
docs/_build/

# auxiliary
*test*
*.eps
*.pdf
*.pkl
*.txt
.settings/*
output/*
*temp*
*~
_*
!__*
!unittest*
*.py[cod]
data/*

examples/lowRankTensorApproximations/data_for_plot/

\.idea/

*.png

examples/lowRankTensorApproximations/Dishis\.py
